workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "a9a565fb-f886-4ac2-8ba1-08a8edab2107",
      "name": "Telegram Trigger",
      "webhookId": "61d5d88a-2f98-403d-abb9-1f85808298b9",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c45e7f95-7b2a-4f55-9de1-bef830aa39ee",
              "name": "queue",
              "value": "={{ (() => {\n  const raw = ($json.message?.text || \"\")\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s*,\\s*/g, \",\");\n\n  const parts = raw.split(\",\").map(p => p.trim()).filter(Boolean);\n  const city = parts[0] || \"\";\n  const uf = (parts[1] || \"\").toUpperCase();\n\n  return uf ? `${city},${uf}` : city;\n})() }}",
              "type": "string"
            },
            {
              "id": "input-original",
              "name": "input_original",
              "value": "={{ $json.message?.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "41a52b62-8569-4251-9dfd-a020d8d7f6d7",
      "name": "Normalizar Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json.queue }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "id": "validate-input",
      "name": "Validar Input"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.queue }}" },
            { "name": "units", "value": "metric" },
            { "name": "lang", "value": "pt_br" },
            { "name": "appid", "value": "={{ $env.OPENWEATHER_API_KEY }}" }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "id": "bda31e94-9b70-4f42-b900-c4b769324f28",
      "name": "HTTP Request",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.cod }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-temp",
              "leftValue": "={{ $json.main?.temp !== undefined }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 200],
      "id": "2eb1b000-3dbe-4b03-878b-f3adf79b0ef5",
      "name": "Validar Resposta API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "759e8294-d624-425d-afd1-15f63f324a9a",
              "name": "message",
              "value": "=🌤️ A temperatura em {{ $json.name }} é de {{ Math.round($json.main.temp) }}°C.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 80],
      "id": "956fb88e-38e0-4f2d-853d-63332bc4e57f",
      "name": "Mensagem Sucesso"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b31e6404-4c3a-43d6-bf68-a7614eb51ac0",
              "name": "message",
              "value": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 280],
      "id": "58e77ad0-3f46-4c48-9bba-0c0427d664de",
      "name": "Mensagem Cidade Não Encontrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "message",
              "value": "⚠️ Erro ao consultar a previsão do tempo. Tente novamente mais tarde.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400],
      "id": "error-handler",
      "name": "Mensagem Erro API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empty-input",
              "name": "message",
              "value": "⚠️ Por favor, envie o nome de uma cidade no formato: Cidade,UF\n\nExemplo: São Paulo,SP",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400],
      "id": "empty-input-handler",
      "name": "Mensagem Input Vazio"
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 80],
      "id": "752d36e5-ea3a-45c9-9c4f-0928e0fcffa9",
      "name": "Enviar Mensagem Sucesso",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 280],
      "id": "01c1dd80-d0df-4f25-ad23-6cb9e7f702fa",
      "name": "Enviar Mensagem Erro",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Input": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Input Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Validar Resposta API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Erro API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Resposta API": {
      "main": [
        [
          {
            "node": "Mensagem Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Cidade Não Encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Sucesso": {
      "main": [
        [
          {
            "node": "Enviar Mensagem Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Cidade Não Encontrada": {
      "main": [
        [
          {
            "node": "Enviar Mensagem Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Erro API": {
      "main": [
        [
          {
            "node": "Enviar Mensagem Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Input Vazio": {
      "main": [
        [
          {
            "node": "Enviar Mensagem Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "chatbot-clima-telegram"
  },
  "tags": []
}
